<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>evaluatetoolbox</title>
<link rel="icon" href="/static/ico/favicon.ico">
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<link href="/static/css/lrtk.css" rel="stylesheet" type="text/css" />
<link href="/static/css/li.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="reg_lc" style="display:inline-block;text-align:center;width:1200px">

<font style="font-size:30px;color:green">综合评价模型</font>

</div>

<div class="main_c bggray" style="display:inline-block;text-align:center;">
<div class="w1150">
<a href="test" ><font style="color:green">返回</font></a>
<div class="register bgwhite line">
<div style="text-align:center">

</div>
<div class="blank15"></div>
<ul class="my_fav_list" id="listnow">
<div style="text-align:center">
<font style="font-size:20px;color:green">evaluatetoolbox</font>
</div>
</ul>
<ul class="my_fav_list" id="list">
<li class="my_fav_list_a">适用于综合类型，有多种评价指标且模糊性较强的评价问题</li>
<a href="fiieva" text="heattransfertoolbox">evaluatetoolbox1</a>
</ul>
<ul class="my_fav_list" id="list">
<li class="my_fav_list_a">适用于比赛、竞赛等具有队伍比分的实力评价问题</li>
<a href="fiieva2" text="heattransfertoolbox">evaluatetoolbox2</a>
</ul>
</div>
</div>
</div>

</body>
</html>
<script type='text/javascript'>

function getCookie(name){
	var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
	if(arr != null) return unescape(arr[2]); return '';
	}
	

</script>

