<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>heattransfertoolbox</title>
<link rel="icon" href="/static/ico/favicon.ico">
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<link href="/static/css/lrtk.css" rel="stylesheet" type="text/css" />
<link href="/static/css/li.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="reg_lc" style="display:inline-block;text-align:center;width:1200px">

<font style="font-size:30px;color:green">传热学</font>

</div>

<div class="main_c bggray" style="display:inline-block;text-align:center;">
<div class="w1150">
<a href="test" ><font style="color:green">返回</font></a>
<div class="register bgwhite line">
<div style="text-align:center">

</div>
<div class="blank15"></div>
<ul class="my_fav_list" id="listnow">
<div style="text-align:center">
<font style="font-size:20px;color:green">heattransfertoolbox</font>
</div>
</ul>
<ul class="my_fav_list" id="list">
<li class="my_fav_list_a">适用于各向同性材料的三维稳态导热问题，且导热系数未常量，使用高斯赛德尔迭代法求内部网格节点温度</li>
<a href="heat" text="heattransfertoolbox">heattransfertoolbox1</a>
</ul>
<ul class="my_fav_list" id="list">
<li class="my_fav_list_a">适用于平板非稳态导热问题，用数值方法计算单侧受热的无限大平板的瞬态温度场</li>
<a href="heat2" text="heattransfertoolbox">heattransfertoolbox2</a>
</ul>
</div>
</div>
</div>

</body>
</html>
<script type='text/javascript'>

function getCookie(name){
	var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
	if(arr != null) return unescape(arr[2]); return '';
	}
	

</script>

