<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>个人中心</title>
<link rel="icon" href="/static/ico/favicon.ico">
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<link href="/static/css/lrtk.css" rel="stylesheet" type="text/css" />
<link href="/static/css/li.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="reg_lc" style="display:inline-block;text-align:center;width:1200px">

<font style="font-size:30px;color:green">个人中心</font>

</div>

<div class="main_c bggray" style="display:inline-block;text-align:center;">
<div class="w1150">
<a href="userspage" ><font style="color:green">返回</font></a>
<div class="register bgwhite line">
<div class="blank15"></div>
<ul class="my_fav_list">
<li class="my_fav_list_li"><a  class="my_fav_list_a" >id：<span id="span0" /></a></li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >姓名：<span id="span1" /></a></li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >年龄：<span id="span2" /></a></li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >性别：<span id="span3" /></a></li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >email：<span id="span4" th:text="${session.users.email}"/></a>：</li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >电话号码：<span id="span5" th:text="${session.users.phonenumber}"/></a>：</li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >身份证号：<span id="span6" th:text="${session.users.idnumber}"/></a></li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >登陆密码：<span id="span7" th:text="${session.users.password}"/></a></li>
<li class="my_fav_list_li"><a  class="my_fav_list_a" >账户余额：<span id="span8" /></a></li>

</ul>
<br>
<form id="form" action="" type="post">
<input id="button" type=button value="修改资料" onclick="aa()">
</form>
<form id="form1" action="" type="post">
</form>
<form id="form2" action="" type="post">
</form>
<form id="form3" action="" type="post">
</form>
<form id="form4" action="" type="post">
</form>
<form id="form5" action="" type="post">
</form>
<form id="form6" action="" type="post">
</form>
<form id="form7" action="" type="post">
</form>
<form id="form8" action="" type="post">

</form>
</div>
</div>
</div>


</body>
</html>
<script type='text/javascript'>

window.onload = function(){
  　　
		$.ajax({
            url:"findinfo",
			type:"POST",
			dataType:"json",
			data:{
				 a:"1"
				 },
			success:function(data){
				var temp=data.u;
				var a=document.getElementById("span0");
				a.innerHTML=getCookie("uid")
				var a=document.getElementById("span1");
				a.innerHTML=temp["aname"];
				var a=document.getElementById("span2");
				a.innerHTML=temp["age"];
				var a=document.getElementById("span3");
				a.innerHTML=temp["sex"];
				var a=document.getElementById("span4");
				a.innerHTML=temp["email"];
				var a=document.getElementById("span5");
				a.innerHTML=temp["phonenumber"];
				var a=document.getElementById("span6");
				a.innerHTML=temp["idnumber"];
				var a=document.getElementById("span7");
				a.innerHTML=temp["password"];
				var a=document.getElementById("span8");
				a.innerHTML=temp["money"];
			},
			error : function(e) {
				
	        },
		})
  　　}
function aa(){
	var board = document.getElementById("button"); 
	board.parentNode.removeChild(board);
	var board = document.querySelectorAll("#info");
	if(board){
		
		for(let i=0;i<board.length;i++){	
			board[i].parentNode.removeChild(board[i]);
    }
	}
	var board = document.querySelectorAll("nobr");
	if(board){
		
		for(let i=0;i<board.length;i++){	
			board[i].parentNode.removeChild(board[i]);
    }
	}
	create("form1","text","info","info1","姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名： ","span1") 
	create("form2","text","info","info2","年&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp龄： ","span2");
	create("form3","text","info","info3","性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别： ","span3");
	create("form4","text","info","info4","email：&nbsp&nbsp&nbsp&nbsp&nbsp","span4");
	create("form5","text","info","info5","电话号码：","span5");
	create("form6","text","info","info6","身份证号：","span6");
	create("form7","text","info","info7","登陆密码：","span7");
	create("form8","button","infob","infob","提交","span8");

		
	
}
	
function getCookie(name){
	var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
	if(arr != null) return unescape(arr[2]); return '';
	}
function create(parentId,eleType,eleName,eleId,name,n){  
	 
    var board = document.getElementById(parentId);  
    var e2 = createElement("nobr",eleName);  
      
    board.appendChild( e2);  
    var e = createElement("input",eleName);  
    e.type = eleType;  
    e.id = eleId; 
    if(n=="span8"){
    	var a = "提交"
    		$("body").on("click","#infob",function(){
    			var temp1=$("#info1").val();
    			var temp2=$("#info2").val();
    			var temp3=$("#info3").val();
    			var temp4=$("#info4").val();
    			var temp5=$("#info5").val();
    			var temp6=$("#info6").val();
    			var temp7=$("#info7").val();
    			if(temp1.length<2){
    				alert("请检查姓名")
    				
    			}			
    			else if(parseInt(temp2)<0||parseInt(temp2)>200||!isRealNum(temp2)){
    				alert("请检查年龄")
    				
    			}
    			else if((temp3!="男"&&temp3!="女")){
    				alert("请检查性别")
    				
    			}
    			else if(!checkEmail(temp4)){
    				alert("请检查email")
    				
    			}
    			else if(!isTel(temp5)){
    				alert("请检查电话号码")
    				
    			}
    			else if(!IdCodeValid(temp6)){
    				alert("请检查身份证号")
    				
    			}
    			else if(temp7.length<6){
    				alert("请检查登陆密码,保证长度在六位以上")
    				
    			}
    			else {
    				$.ajax({
                        url:"changeinfo",
            			type:"POST",
            			dataType:"json",
            			data:{
            				 
            				 aname :$("#info1").val(),
            				 age :$("#info2").val(),
            				 sex :$("#info3").val(),
            				 email :$("#info4").val(),
            				 phonenumber :$("#info5").val(),
            				 idnumber :$("#info6").val(),
            				 password :$("#info7").val(),
            				 },
            			success:function(data){
            					
            			},
            			error : function(e) {
            				alert("修改成功！")
            				document.location.reload();
            	        },
            		}) 
    			}
    		})
    }
    else{
    	var str = document.getElementById(n);  
    	e2.innerHTML=name;
    	 var a=str.innerHTML;   
    }
      
    e.value = a;   
    board.appendChild(e);  

    e.setAttribute("placeholder",a);  
  
    
}  

function createElement(type, name) {     
   var element = null;          
   if (!element) {     
      element = document.createElement(type);     
      element.name = name;     
   }     
   return element;     
} 
function isTel(v) {
    var phone_reg = /^1[34578]\d{9}$/;
    var telphone_reg = /^((0\d{2,4})-)(\d{7,8})(-(\d{3,}))?$/;
	   if(phone_reg.test(v)||telphone_reg.test(v)){
		   return true;
	   } 
	  return false;
 }
function checkEmail(myemail){
	　　var myforms=document.forms;
	　　var myReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
	 
	　　if(myReg.test(myemail)){
	　　　　return true;
	　　}else{
	　　　　return false;
	}
	}
function IdCodeValid(code){  
    //身份证号合法性验证  
    //支持15位和18位身份证号  
    //支持地址编码、出生日期、校验位验证  
    var city={11:"北京",12:"天津",13:"河北",14:"山西",15:"内蒙古",21:"辽宁",22:"吉林",23:"黑龙江 ",31:"上海",32:"江苏",33:"浙江",34:"安徽",35:"福建",36:"江西",37:"山东",41:"河南",42:"湖北 ",43:"湖南",44:"广东",45:"广西",46:"海南",50:"重庆",51:"四川",52:"贵州",53:"云南",54:"西藏 ",61:"陕西",62:"甘肃",63:"青海",64:"宁夏",65:"新疆",71:"台湾",81:"香港",82:"澳门",91:"国外 "};  
    var row = true;
    var msg = "验证成功";
   	
    if(!code || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|[xX])$/.test(code)){  
        row=false,  
       msg = "被保人身份证号格式错误"; 
    }else if(!city[code.substr(0,2)]){  
         row=false,  
       msg = "被保人身份证号地址编码错误";
    }else{  
        //18位身份证需要验证最后一位校验位  
        if(code.length == 18){  
            code = code.split('');  
            //∑(ai×Wi)(mod 11)  
            //加权因子  
            var factor = [ 7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2 ];  
            //校验位  
            var parity = [ 1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2 ];  
            var sum = 0;  
            var ai = 0;  
            var wi = 0;  
            for (var i = 0; i < 17; i++)  
            {  
                ai = code[i];  
                wi = factor[i];  
                sum += ai * wi;  
            }  
            if(parity[sum % 11] != code[17].toUpperCase()){  
                 row=false,  
       			msg = "被保人身份证号校验位错误";
            }  
        }  
    }  
    return row;  
}
function isRealNum(val){
    // isNaN()函数 把空串 空格 以及NUll 按照0来处理 所以先去除，
    
　　if(val === "" || val ==null){
        return false;
　　}
   if(!isNaN(val)){　　　　
　　//对于空数组和只有一个数值成员的数组或全是数字组成的字符串，isNaN返回false，例如：'123'、[]、[2]、['123'],isNaN返回false,
   //所以如果不需要val包含这些特殊情况，则这个判断改写为if(!isNaN(val) && typeof val === 'number' )
　　　 return true; 
　　}

　else{ 
　　　　return false; 
　　} 
}
</script>