<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>在线咨询</title>
<link rel="icon" href="/static/ico/favicon.ico">
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<link href="/static/css/lrtk.css" rel="stylesheet" type="text/css" />
<link href="/static/css/li.css" rel="stylesheet" type="text/css" />
<script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="reg_lc" style="display:inline-block;text-align:center;width:1200px">

<font style="font-size:30px;color:green">在线回复</font>

</div>

<div class="main_c bggray" style="display:inline-block;text-align:center;">
<div class="w1150">
<a href="expertspage" ><font style="color:green">返回</font></a>
<div class="register bgwhite line">
<div class="blank15"></div>
<li>
<span >请选择要查询的时间</span>
<input name="date" id="date" type="date" value="2020-03-29"/>
<input type="button" value="查询" id="chaxun" onclick="schedule()"></form>
</li>
<ul class="my_fav_list" id="listnow">

</ul>
<ul class="my_fav_list" id="list">

</ul>

</div>
</div>
</div>

</body>
</html>
<script type='text/javascript'>
window.onload = function(){
  　　		
	var time = new Date();
    var day = ("0" + time.getDate()).slice(-2);
    var month = ("0" + (time.getMonth() + 1)).slice(-2);
    var today = time.getFullYear() + "-" + (month) + "-" + (day);
    $('#date').val(today);
		
  　　}
$("#date").change(function(){
	var btn=document.getElementById("chaxun")
	btn.disabled=false;
})
function schedule(){
	
	var btn=document.getElementById("chaxun")
	btn.disabled=true;
	
	date=$("#date").val();
	$.ajax({
        url:"qepexpert",
		type:"POST",
		dataType:"json",
		data:{
			 eid:parseInt(getCookie("eid")),
			 date:date
			 },
		success:function(data){
			var flag=false;
			var temp=document.getElementById("list");  		 
			var list = data.o;
		    		    
			if(list.length!=0){
				for(var i=0;i<list.length;i++){
					
					if(list[i]["status"]==0){
						var str1=list[i]["code"]
						var str2=list[i]["issue"]
						var str3=list[i]["reply"]
						var element = document.createElement('li');  
						element.setAttribute('value',list[i]["id"]+"&"+list[i]["uid"]);   
						element.className="my_fav_list_li";
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
									
						e2.innerHTML=list[i]["date"]+","+list[i]["departmentname"]+"领域"+list[i]["expertname"]+"专家的咨询"
						element.appendChild(e2);
						
						var e=document.createElement("br");
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="账户名："+list[i]["uname"]
						element.appendChild(e2);
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="电子邮箱："+list[i]["age"]
						element.appendChild(e2);
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="联系电话："+list[i]["phonenumber"]
						element.appendChild(e2);
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="代码："+str1
						element.appendChild(e2);
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="问题描述："+str2
						element.appendChild(e2);
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="附件"
						e2.href=list[i]["filepath"]
						element.appendChild(e2);
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="赏金："+list[i]["reward"]
						element.appendChild(e2);
						element.appendChild(e);
						
						var e2=document.createElement("a");
						e2.className="my_fav_list_a";
						e2.innerHTML="回复："+str3
						element.appendChild(e2);
						element.appendChild(e);
						
						
						
						var btnDel = document.createElement('input'); //创建一个input控件  
						btnDel.setAttribute('type','button'); //type="button"  
						btnDel.setAttribute('value','回复');   
						btnDel.setAttribute('id','btn');
						btnDel.setAttribute('name','btn');    				    
						element.appendChild(btnDel);   	 
						
						$("body").on("click","#btn",function(){
							
							
							var e=document.createElement("br");
							element.appendChild(e);
							
							var einput = document.createElement('textarea'); //创建一个input控件  
							einput.setAttribute('id','reply');
							if(this.parentNode) 								
							this.parentNode.appendChild(einput);
							
							var e=document.createElement("br");
							element.appendChild(e);
							var btnDel = document.createElement('input'); //创建一个input控件  
							btnDel.setAttribute('type','button'); //type="button"  
							btnDel.setAttribute('value','回复');   
							btnDel.setAttribute('id','btn2');   
							btnDel.setAttribute('name','btn2');
							if(this.parentNode)     
							this.parentNode.appendChild(btnDel);  												
							var der=document.getElementsByName('btn')
							
							while(der.length){    
									der[0].parentNode.removeChild(der[0]);								
							}
							
							
							$("body").on("click","#btn2",function(){
								var str=this.parentNode.getAttribute('value')
								var strs = new Array(); //定义一数组
								strs = str.split("&"); //字符分割
								$.ajax({url:'reply',
									 type:"post",
									 data:{
										 id:strs[0],
										 reply:document.getElementById('reply').value
									 },
									 cache: false,
									 dataType : "json",
									 error:function(){
										 location.reload()
									 }, 
									 success:function(data){
									 
									 location.reload()
									
									 }
									 });	 
								var der=document.getElementsById('btn2')								
								while(der.length){    
								der[0].parentNode.removeChild(der[0]); }
							}) 
						})
						
						if(list[i]["status"]==0){
							var btnDel = document.createElement('input'); //创建一个input控件  
							btnDel.setAttribute('type','button'); //type="button"  
							btnDel.setAttribute('value','确认违规');   
							btnDel.setAttribute('id','btn3');
							btnDel.setAttribute('name','btn3');    				    
							element.appendChild(btnDel);
							$("body").on("click","#btn3",function(){
								
								var date=$("#date").val();
								var today = new Date();
							    today.setTime(today.getTime());
								var a=parseInt(date.replace("-","").replace("-",""))
								var b=today.getFullYear()*10000 + (today.getMonth()+1)*100 + today.getDate()
								if(1){
									str=this.parentNode.getAttribute('value') 
									var strs = new Array(); //定义一数组
									strs = str.split("&"); //字符分割
									$.ajax({
							            url:"bac",
										type:"GET",
										dataType:"json",
										data:{
											 id:strs[0],
											 uid:strs[1]
											 },
										success:function(data){
											
										},
										error : function(e) {	   
											
								        },
									})
									
								}
								
								else{
									
								}
								var der=document.getElementsByName('btn3')								
								while(der.length){    
								der[0].parentNode.removeChild(der[0]);								
								}
								location.reload()	
							})
						}
						
						
						temp.appendChild(element);												
					}			
		}
			}
			else{
				var element = document.createElement('li');   
				element.className="my_fav_list_li";
				var e2=document.createElement("a");
				e2.className="my_fav_list_a";
				e2.innerHTML= "无";
				element.appendChild(e2);
				temp.appendChild(element);
			}
		}
		
	})
}
  
function getCookie(name){
	var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
	if(arr != null) return unescape(arr[2]); return '';
	}
	

	
</script>

