<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>toolbox</title>
<link rel="icon" href="/static/ico/favicon.ico">"
<link rel="stylesheet" type="text/css" href="/static/css/www.jsdaima.com.css">
</head>

<body>

<div class="sliderTab">
	
	<div class="sliderTag">
		<div class="sliderButtons">
			<ul>
				<li><span>传热学</span></li>
				<li><span>传播力模型</span></li>
				<li><span>综合评价模型</span></li>
				<li><span>时间序列模型</span></li>
				<li><span>敬请期待</span></li>
				<li><span>敬请期待</span></li>
				
			</ul>
		</div>
	</div>
	
	<div class="prev-hider"></div>
	<div class="next-hider"></div>
	
	<a href="javascript:void(0);" class="slidesPrev" title="Go previous"></a>
	<a href="javascript:void(0);" class="slidesNext" title="Go next"></a>
	
	<div class="slidesWrap">
	
		<div class="slides-container">

			<div class="sliderItem">
				<div class="photo"><a href="" target="_blank"><img width="170" height="170" alt="" src="/static/images/heat.png" /></a></div>
				<div class="dis">
					<a href="heatsel" text="heattransfertoolbox">heattransfertoolbox</a>
					<div class="closed-quotes"></div>
				</div>
				<div class="review"></div>
			</div><!--sliderItem end-->
			
			<div class="sliderItem">
				<div class="photo"><a href="" target="_blank"><img width="170" height="170" alt="" src="/static/images/chuanbo.png" /></a></div>
				<div class="dis">
					
					<div class="closed-quotes"></div>
					<a href="fiirel" text="">communicationtoolbox</a>
				</div>
				<div class="review"></div>
			</div><!--sliderItem end-->
			
			<div class="sliderItem">
				<div class="photo"><a href="" target="_blank"><img width="170" height="170" alt="" src="/static/images/evaa.png" /></a></div>
				<div class="dis">					
					<div class="closed-quotes"></div>
					<a href="evasel" text="">evaluatetoolbox</a>
				</div>
				<div class="review"></div>
			</div><!--sliderItem end-->
			
			<div class="sliderItem">
				<div class="photo"><a href="" target="_blank"><img width="170" height="170" alt="" src="" /></a></div>
				<div class="dis">
					
					<div class="closed-quotes"></div>
					<a href="time" text="">timeseriestoolbox</a>
				</div>
				<div class="review"></div>
			</div><!--sliderItem end-->
			
			<div class="sliderItem">
				<div class="photo"><a href="" target="_blank"><img width="170" height="170" alt="" src="" /></a></div>
				<div class="dis">
					
					<div class="closed-quotes"></div>
				</div>
				<div class="review"></div>
			</div><!--sliderItem end-->
			
			<div class="sliderItem">
				<div class="photo"><a href="" target="_blank"><img width="170" height="170" alt="" src="" /></a></div>
				<div class="dis">
					
					<div class="closed-quotes"></div>
					
				</div>
				<div class="review"></div>
			</div><!--sliderItem end-->
			
			

		</div>
		
	</div>
	
</div>

<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/slider.js"></script>

</body>
</html>