<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlh.mapper.OisMapper" >
 	<insert id="insertOi" parameterType="Ois">
 		insert into ois(phonenumber,uid,iddoctors,did,hid,idnumber,date,dig,medicalrecord,filepath) values (#{phonenumber},#{uid},#{iddoctors},#{did},#{hid},#{idnumber},#{date},#{dig},#{medicalrecord},#{filepath}) ;
 	</insert>
 	<update id="updateOi" >
 		update ois set reply=#{reply} where id=#{id}
 	</update>
 	<select id="selectOisByUid" resultType="Ois">
 		select * from ois where uid=#{uid}
 	</select>
 	<select id="selectOisByHidIddoctors"  resultType="Ois">
 		select ois.id,ois.uid,ois.hid,ois.did,ois.date,ois.iddoctors,ois.idnumber,ois.phonenumber,ois.dig,ois.medicalrecord,ois.filepath,ois.reply,users.aname,users.age,users.sex from ois,users where ois.uid=users.id and ois.iddoctors=#{iddoctors} and ois.hid=#{hid} and date=#{date}
 	</select>
 	
</mapper>